<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Dishes Management - Admin</title>
</head>

<body>
    {{> navbar loginUser=loginUser}}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    {{> sidebar}}
                </div>
                <div class="col-md-9">
                    <div class="card m-3 p-3">
                        <h4 class="text-center">Dish</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Picture</th>
                                    <th>Dish Name</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Cooking time(mins)</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each foods}}
                                <tr>
                                    <td>
                                      <img style="width:65px;height:65px;border-radius:50%" src="/static/dishImages/{{this.photo}}" alt="dish">
                                    </td>
                                    <td>{{this.dname}}</td>
                                    <td>{{this.dprice}}</td>
                                    <td>{{this.ddiscount}}%</td>
                                    <td>{{this.dtime}}</td>
                                    <td>
                                        <button onclick="editDish('{{this.id}}')" class="btn btn-sm btn-warning">Edit</button>
                                        <button onclick="deleteDish('{{this.id}}')" class="btn btn-sm btn-danger">Delete</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <nav aria-label="Page navigation example" class="mt-3 mb-5">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link {{#ifprev currentPage}}{{/ifprev}}"
                                        href="/admin/dishMenus/{{#prevPage currentPage}}{{/prevPage}}"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {{#times count}}
                                <li class="page-item"><a class="page-link" href="/admin/dishMenus/{{this}}">{{this}}</a></li>
                                {{/times}}
                                <li class="page-item">
                                    <a class="page-link {{#ifnext currentPage count}}{{/ifnext}}"
                                        href="/admin/dishMenus/{{#nextPage currentPage}}{{/nextPage}}"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                        {{#if delete}}
                        <script>
                            Swal.fire({
                                title: 'delete success',
                                text: 'The dish has been deleted successfully',
                                icon: 'success',
                                confirmButtonText: 'ok'
                            })
                        </script>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>
function editDish(id){
    location.assign("/admin/editDish/"+id+"/false")
}
function deleteDish(id) {
    Swal.fire({
        title: 'Are you sure?',
        showDenyButton: true,
        confirmButtonText: 'Yes',
        denyButtonText: 'No',
    }).then((result) => {
        if (result.isConfirmed) {
            location.assign("/admin/deleteDish/" + id)
        } else if (result.isDenied) {
            Swal.fire('Cancelled', '', 'info')
        }
    })
}
</script>
</body>
</html>
