<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>历史订单 - 员工</title>
</head>
<body>
    {{> navbar loginUser=loginUser}}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    {{> sidebar}}
                </div>
                <div class="col-md-9">
                    <div class="employeePanel card m-3 p-3">
                        <h3 class="text-center mb-3">历史订单记录</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>菜名</th>
                                    <th>顾客</th>
                                    <th>价格(元)</th>
                                    <th>数量</th>
                                    <th>取餐时间</th>
                                    <th>特殊需求</th>
                                    <th>订单状态</th>
                                    <th>评分</th>
                                    <th>评论</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each history}}
                                <tr>
                                    <td>{{this.dname}}</td>
                                    <td>{{this.user.name}}</td>
                                    <td>{{this.price}}</td>
                                    <td>{{this.quantity}}</td>
                                    <td>{{this.pickupTime}}</td>
                                    <td><strong style="color: red;">{{this.specialRequests}}</strong></td>
                                    <td>{{this.states}}</td>
                                    <td>
                                        {{#if this.feedback}}
                                            {{this.feedback.rating}} 星
                                        {{else}}
                                            暂无评分
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if this.feedback}}
                                            {{this.feedback.comment}}
                                        {{else}}
                                            暂无评价
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>