<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History - Employee</title>
</head>
<body>
    {{> navbar loginUser=loginUser}}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    {{> sidebar}}
                </div>
                <div class="col-md-9">
                    <div class="employeePanel card m-3 p-3">
                        <h3 class="text-center mb-3">Order History Records</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Dish Name</th>
                                    <th>Customer</th>
                                    <th>Price(NZD)</th>
                                    <th>Quantity</th>
                                    <th>Pickup Time</th>
                                    <th>Special Requests</th>
                                    <th>Order Status</th>
                                    <th>Rating</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each history}}
                                <tr>
                                    <td>{{this.dname}}</td>
                                    <td>{{this.user.name}}</td>
                                    <td>{{this.price}}</td>
                                    <td>{{this.quantity}}</td>
                                    <td>{{this.pickupTime}}</td>
                                    <td><strong style="color: red;">{{this.specialRequests}}</strong></td>
                                    <td>{{this.states}}</td>
                                    <td>
                                        {{#if this.feedback}}
                                            {{this.feedback.rating}} Stars
                                        {{else}}
                                            No rating available
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if this.feedback}}
                                            {{this.feedback.comment}}
                                        {{else}}
                                            No comment available
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>