<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>历史订单记录 - 经理</title>
</head>
<body>
  {{> navbar loginUser=loginUser}}

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          {{> sidebar}}
        </div>
        <div class="col-md-9">
          <div class="card m-3 p-3">
            <h3 class="text-center mb-3">历史订单记录</h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>订单ID</th>
                  <th>菜名</th>
                  <th>顾客姓名</th>
                  <th>价格(元)</th>
                  <th>数量</th>
                  <th>支付方式</th>
                  <th>下单时间</th>
                  <th>取餐时间</th>
                  <th>状态</th>
                </tr>
              </thead>
              <tbody>
                {{#each orders}}
                <tr>
                  <td>{{this._id}}</td>
                  <td>{{this.dname}}</td>
                  <td>{{this.user.name}}</td>
                  <td>{{this.price}}</td>
                  <td>{{this.quantity}}</td>
                  <td>{{this.paymentType}}</td>
                  <td>{{this.time}}</td>
                  <td>{{this.pickupTime}}</td>
                  <td>{{this.states}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
