<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户主页 - 美食订餐</title>
</head>
<body>
    {{> navbar loginUser=loginUser}}
    <section>
        <div class="container-fluid pb-5">
            {{> userBar}}

            <div class="container userSection">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <!-- 根据是否有头像动态显示 -->
                        {{#if loginUser.photo}}
                        <img class="img-fluid" style="border-radius:50%; max-width:180px;" src="/static/userImages/{{loginUser.photo}}" alt="用户头像">
                        {{else}}
                        <img class="img-fluid" style="border-radius:50%; max-width:180px;" src="/static/image/review/review-1.jpg" alt="默认头像">
                        {{/if}}
                    </div>
                    <div class="col-md-9">
                        <div class="card py-3 px-3">
                            <h4>个人资料</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-4 text-muted">姓名：</div>
                                <div class="col-md-8">{{loginUser.name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-muted">邮箱：</div>
                                <div class="col-md-8">{{loginUser.email}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-muted">电话：</div>
                                <div class="col-md-8">{{loginUser.phone}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-muted">地址：</div>
                                <div class="col-md-8">{{loginUser.address}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-muted">账号类型：</div>
                                <div class="col-md-8">{{loginUser.type}}</div>
                            </div>

                            <div class="mt-3 text-end">
                                <a class="btn btn-primary" href="/user/editProfile">编辑资料</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>
